# Copy file này thành .env rồi chỉnh lại nếu cần
DATABASE_URL=sqlite:///./retail.db
SECRET_KEY=doi-chuoi-nay-thanh-chuoi-bi-mat-that-dai-va-random
ACCESS_TOKEN_EXPIRE_MINUTES=480
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
STAFF_USERNAME=staff
STAFF_PASSWORD=staff123
